body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #e6e6e6;
}

header {
    background-color: #2e7d32;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    text-align: center;
}

h1 {
    margin: 0;
}

nav {
    background-color: #000;
    padding: 10px;

    display: flex;
    justify-content: center; 
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;

    display: flex;
    gap: 15px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}


img {
    display: block;
    max-width: 100%;
    margin: 20px auto;
}

main {
    background-color: white;
    padding: 20px;
    margin: 20px; 
}

footer {
    background-color: #000;
    color: white;
    text-align: center;
    padding: 10px;
}

iframe {
    text-align: left;
    display: block;
    margin: 1.5rem auto;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.2);
}